.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Ubuntu';
}
.App table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.App thead {
  background: #4ee44e;
  height: 40px;
  color: #ffffff;
}
.App table {
  width: 90%;
}
.App tr {
  border-bottom: 1px solid #a6a6a6;
}
.App td{
  padding: 15px;
  font-size: 14px;
}