.paginationMain {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page {
    background-color: #4ee44e;
    height: 37px;
    width: 37px;
    border-radius: 15px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .paginationMain button {
    /* background: linear-gradient(0deg, #f1f1f1, #f1f1f1),
      linear-gradient(0deg, #f1f1f1, #f1f1f1),
      linear-gradient(0deg, #f1f1f1, #f1f1f1),
      linear-gradient(0deg, #f1f1f1, #f1f1f1); */
    border: none;
    box-shadow: 0px 4px 4px 0px #00000040;
    border-radius: 15px;
  }
  .btn{
    background-color:#4ee44e ;
  }
  